html, body {
  background-color: #202427;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

input.hastag {
  padding-top: 2px;
  width: 33%;
  float: left;
}

input.username {
  padding-top: 2px;
  max-width: 33%;
  float: left;
}

input {
  background: none;
  border: none;
  color: rgba(255,255,255,0.6);
  font-family: 'Alegreya', serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

input:focus {
  color: rgba(255,255,255,0.9);
}

input:visited {
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#inside {
  padding: 4px 18px;
}

#search {
  margin: 0 auto;
  margin-top: 23px;
  border-radius: 23px;
  height: 45px;
  max-width: 400px;
  background-color: rgba(9, 11, 12, 0.4);
}

#images {
   clear: both;
   width: 100%;
   max-width: 640px;
   margin: 0 auto;
 }

#images img {
  width: 100%;
  height: 100%;
  max-width: 640px;
  max-height: 640px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  margin-top: 20px;
  left: imageOffset;
}

.btn {
  border: none;
  background: none;
  font-family: 'Duru Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(145,184,206,0.5);
  letter-spacing: 1px;
  cursor: pointer;
  float: right;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
}

.btn:hover {
  color: rgba(145,184,206,0.8);
}

.btn:active {
  color: rgba(145,184,206,1);
}

#search .bth {
  float: left;
}

